#startbuttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#startbutton {
    position: relative;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

div#retraceList {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    color:white;
}

div#retraceList > h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

div#retraceList > ol {
    margin: 20px;
    list-style: decimal;
}
div#retraceList > ol > li > span {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
}
div#retraceList > ol > li > button {
    margin-left: 10px;
}