#startbuttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#startbutton {
    position: relative;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

div#retraceList {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

div#retraceList>h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

div#retraceList>ol {
    margin: 20px;
    list-style: decimal;
}

div#retraceList>ol>li>span {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
}

div#retraceList>ol>li>button {
    margin-left: 10px;
}

.drunkCanvas {}

.drunkContainer {
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 5s;
    top: 50px;
    left: 50px;
}

@keyframes orbit {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.drunkCanvas {
    transform-origin: 200% center;
    position: relative;
    animation: rotate 3s linear infinite;
    opacity: 0.7;
    overflow: hidden;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translateX(15px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(15px) rotate(-360deg);
    }
}